[submodule "2401-practice-carousel"]
	path = 2401-practice-carousel
	url = https://github.com/practice-skill-kyungsle/practice-carousel.git
[submodule "2404-study-bungae-coding-test"]
	path = 2404-study-bungae-coding-test
	url = https://github.com/practice-skill-kyungsle/study-bungae-coding-test.git
[submodule "2405-practice-react-dom-server"]
	path = 2405-practice-react-dom-server
	url = https://github.com/practice-skill-kyungsle/practice-react-dom-server.git
[submodule "2408-make-multiple-param-func"]
	path = 2408-make-multiple-param-func
	url = https://github.com/practice-skill-kyungsle/2024-make-multiple-params-func.git
[submodule "2409-html-editor"]
	path = 2409-html-editor
	url = https://github.com/practice-skill-kyungsle/html-editor.git
